.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

header {
  background-color: white !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 64px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse;
}

.header .logo h1 a {
  color: black;
  text-decoration: none;
}

.header .header__menu {
  background-color: transparent;
  height: 63px;
}

.header .menu__mobile--hidden {
  display: block;
}

.header .menu__mobile--visible {
  display: none;
}

.menu__mobile--visible menu {
  display: none !important;
}

@media (max-width: 992px) {
  .header .menu__mobile--hidden {
    display: none;
  }
  .header .menu__mobile--visible {
    display: block;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
  }
}
